
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="todoItem">TODO ITEM</label>
                    <input #todoItem type="text" class="form-control" id="todoItem">
                </div>
                <button 
                 *ngIf="!isInEditMode"
                 (click)="onTodoAdd(todoItem)"
                class="btn-block" mat-raised-button color="primary">Add Todo</button>
                <button 
                *ngIf="isInEditMode" 
                (click)="onTodoUpdate(todoItem)"
                class="btn-block" mat-raised-button color="primary">Update Todo</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between" *ngFor="let todo of todosArray">
                        <strong>{{todo.todoItem}}</strong>
                        <div>
                            <button 
                            (click)="onTodoEdit(todo)"
                            class="btn-sm mr-2" mat-raised-button color="primary" >Edit</button>
                            <button  
                            (click)="onTodoRemove(todo.todoId)"
                            class="btn-sm" mat-raised-button color="accent">Remove</button>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
