


<h3 class="text-center">STUDENT INFO</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Is Active</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of stdArr; let i=index">
            <td>{{i+1}}</td>
            <td>{{std.fname}} {{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
            <td>{{std.isActive ? "Yes" : "No"}}</td>
            <td class="text-center">
                <button class="btn btn-sm btn-outline-info">Edit</button>
            </td>
            <td class="text-center">
             <button class="btn btn-sm btn-outline-danger">Remove</button>
          </td>
        </tr>
    </tbody>

</table>